# Python Data Types

Primitive types:
1. String
2. Integer
3. Float
4. Boolean

Non-Primitive types
1. List
2. Set
3. Tuple
4. Dictionary

Python is case-sensitive
Python is dynamically typed

In [3]:
# Strings

x = "Hello Berry"
x

'Hello Berry'

In [4]:
x = 'Hello'
print(x)

Hello

In [7]:
x = """Hi This is BHaskar Berry
Welcome to m channel"""
x

'Hi This is BHaskar Berry\nWelcome to m channel'

In [8]:
type(x)

str

In [9]:
# Integers
a = 20
print(type(a))
print(a)

<class 'int'>
20

In [11]:
# Float 

b = 23.023
c = -23.6534
a = 0.67456

print("Value of a = {},b ={}, c = {} ".format(a,b,c))
print(type(a))

Value of a = 0.67456,b =23.023, c = -23.6534
<class 'float'>

In [14]:
#Boolean

x = True
y = False

print(type(y))
print(y)

<class 'bool'>
False

## Non-Primitive Data Type

In [15]:
# List

a = [1,2,23,34.45,"Hi", True]
a

[1, 2, 23, 34.45, 'Hi', True]

In [20]:
a[0]
type(a)

list

In [19]:
# Tuples
b = (1,23.34, "Test",False)
print(b)
print(type(b))

(1, 23.34, 'Test', False)
<class 'tuple'>

In [21]:
# Set
c = {1,23,45,7,65}
print(c)
print(type(c))

{65, 1, 7, 45, 23}
<class 'set'>

In [22]:
# Dict

d ={"Name": "Berry", "Year": 2020}
print(d)
print(type(d))

{'Name': 'Berry', 'Year': 2020}
<class 'dict'>

# Python Built-in Function

In [23]:
x = str("Hello String")
print(x)

Hello String

In [25]:
x = int(20)
print(x)

20

In [26]:
f= float(23.45)
print(f)

23.45

In [27]:
x = list(("Berry",1,23.5))
print(x)

['Berry', 1, 23.5]

In [28]:
x= tuple(("Berry",3,5,-65.67))
print(x)

('Berry', 3, 5, -65.67)

In [29]:
x = set(("B",12,12,-45))
print(x)

{-45, 'B', 12}

In [30]:
x = dict(name = "Berry", age = 45)
print(x)

{'name': 'Berry', 'age': 45}

In [33]:
x = bool(5)

print(x)

True

## Thank you!!